.categoryWrapper {
  width: 100%;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 8px;

  background-color: #555;
  border-radius: 6px;
}

.polsOuter {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.categoryName {
  flex-grow: 0;
  margin: 0 8px 2px 8px;
}
