.provBg {
  border-radius: 4px;
  background-color: #666;
}

.allCategories {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom: 8px;
}

.categoryContainer {
  flex-grow: 1;
  height: calc(50% - 4px);
  margin: 8px;
  margin-top: 0;
  margin-left: 0;
}
