.provBg {
  border-radius: 4px;
  background-color: #666;
}

.allCategories {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 8px;
  padding-left: 0;
}

.categoryContainer {
  flex-grow: 1;
  height: calc(33.3% - 4px);
  margin: 8px;
  margin-left: 0;
}
