#activeGamesWindow {
  max-height: 250px;
  flex-grow: 1;
  margin: 16px;

  overflow-y: scroll;

  text-align: center;
}

.gameItemOuter {
  width: 100%;
  margin: 4px 0;

  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.gameItemInner {
  flex-grow: 1;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  background-color: #555;
  padding: 8px;
  border-radius: 6px;
}

.gameInfo {
  text-align: left;
}
