#activeGamesWindow {
  max-height: 250px;
  flex-grow: 1;
  margin: 16px;

  overflow-y: scroll;

  text-align: center;
}

.gameItemOuter {
  width: 100%;
  margin: 4px 0;

  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.gameItemInner {
  flex-grow: 1;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  background-color: #555;
  padding: 8px;
  border-radius: 6px;
}

.gameInfo {
  text-align: left;
}

@media only screen and
(min-device-width: 500px) and
(max-device-width: 800px) {
  #activeGamesWindow {
    max-height: 200px;
    margin: 12px;
  }

  .gameItemOuter {
    margin: 2px 0;
  }

  .gameItemInner {
    padding: 4px;
    border-radius: 4px;
  }
}

@media only screen and (max-device-width: 500px) {
  #activeGamesWindow {
    max-height: 150px;
    margin: 8px;
  }

  .gameItemOuter {
    margin: 2px 0;
  }

  .gameItemInner {
    padding: 4px;
    border-radius: 4px;
  }
}
