#pageOuter {
  width: 100%;

  display: flex;
  flex-flow: column;
  align-items: stretch;
}

#mainBody {
  display: flex;
  flex-flow: column;
  align-items: center;

  background-color: #555;
}

.menuOuter {
  width: 25%;
  margin: 100px;
  margin-top: 60px;
  align-self: flex-start;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 16px;

  background-color: #444;
  text-align: center;
  border-radius: 6px;
}

@media only screen and
(min-device-width: 500px) and
(max-device-width: 800px) {
  .menuOuter {
    width: 80%;
    align-self: center;
    margin: 20px 0;
    padding: 8px;
    border-radius: 4px;
  }
}

@media only screen and (max-device-width: 500px) {
  .menuOuter {
    width: 80%;
    align-self: center;
    margin: 20px 0;
    padding: 8px;
    border-radius: 4px;
  }
}