#outerHeader {
  width: 100%;

  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
}

#messageBar {
  flex-grow: 1;

  padding: 4px;
  white-space: nowrap;
  overflow-x: scroll;

  font-size: 16px;
  border-radius: 4px;
  background-color: #666;
}

.headerItem {
  margin-right: 4px;
  margin-bottom: 4px;
}

#readyBtn {
  width: 72px;
  margin-right: 0;
}

.tabOuter {
  padding: 4px;
  margin-right: 4px;

  cursor: pointer;
  user-select: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.activeTab {
  background-color: #555;
  box-shadow: 0 8px #555;
}

.inactiveTab:hover {
  background-color: #333;
  box-shadow: 0 4px #333;
}
