#root {
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  position: fixed;

  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-gap: 8px;

  background-color: #444;
}

.containerLevel2 {
  margin: 0;
}

#gameContainer {
  grid-row: 1 / 4;
  grid-column: 1 / 6;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 8px;
}

#otherPlayers {
  grid-row: 1 / 4;
  grid-column: 6 / 7;

  display: grid;
  grid-gap: 8px;
}

#controlPanel {
  grid-row: 4 / 4;
  grid-column: 3 / 7;

  background-color: #555;
  border-radius: 4px;
}
