.outerWrapper {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
}

.vertWrapper {
  flex-flow: column;
  justify-content: flex-start;
}

.horizWrapper {
  width: 100%;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

/* Horizontal on desktop, vertical on laptop */
.responsiveHorizWrapper {
  width: 100%;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.spacer {
  margin: 8px;
}

.growable {
  flex-grow: 1;
}

.menu {
  margin: 16px;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 8px;

  background-color: #444;
  border-radius: 6px;
}

.containerLevel5 {
  margin: 16px;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  padding: 8px 0;

  font-size: 16px;
  background-color: #444;
  border-radius: 6px;
}

.actionBtn {
  flex-grow: 0;

  text-align: center;
  background-color: #444;
  border-radius: 6px;
}

.actionBtn:hover {
  background-color: #333;
}

.actionBtn:active {
  color: #99d;
}

.priorityBtn {
  border: 4px solid #7c7;
}

.inactiveBtn {
  background-color: rgba(0.25, 0.25, 0.25, 0.25);
  border-radius: 6px;
  cursor: default;
}

.inactiveBtn2 {
  background-color: transparent;
  cursor: not-allowed;
}

.inactiveBtn2:hover {
  color: inherit;
  background-color: inherit;
}

.inactiveBtn2:active {
  color: inherit;
}

.settingTextWrapper {
  flex-grow: 1;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
}

.settingsInput {
  margin-left: 8px;
  width: 60px;
  flex-grow: 1;
  flex-shrink: 1;

  padding: 0 4px;
  background-color: #333;
  border: none;
  border-radius: 6px;
}

@media only screen and
(min-device-width: 500px) and
(max-device-width: 800px) {
  .spacer {
    margin: 6px;
  }

  .responsiveHorizWrapper {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .menu {
    margin: 12px;
    padding: 6px;
    border-radius: 6px;
  }

  .containerLevel5 {
    margin: 6px;
    padding: 2px 0;
    font-size: 12px;
    border-radius: 4px;
  }

  .inactiveBtn {
    border-radius: 4px;
  }

  .actionBtn {
    border-radius: 4px;
  }

  .settingsInput {
    margin-left: 6px;
    width: 45px;
    padding: 0 2px;
    border-radius: 4px;
  }
}

@media only screen and (max-device-width: 500px) {
  .spacer {
    margin: 4px;
  }

  .responsiveHorizWrapper {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .menu {
    margin: 8px;
    padding: 4px;
    border-radius: 4px;
  }

  .containerLevel5 {
    margin: 8px;
    padding: 4px 0;
    font-size: 12px;
    border-radius: 4px;
  }

  .inactiveBtn {
    border-radius: 4px;
  }

  .actionBtn {
    border-radius: 4px;
  }

  .settingsInput {
    margin-left: 4px;
    width: 30px;
    padding: 0 2px;
    border-radius: 4px;
  }
}