body {
  padding: 0;
  margin: 0;

  font-size: 18px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Source Sans Pro", Whitney, "Droid Sans", Roboto, -apple-system,
    "Helvetica Neue", Helvetica, Arial, Inter, sans-serif;
  font-variant-alternates: normal;
  color: #ccc;
  background-color: #444;
}

textarea {
  resize: none;
  font: inherit;
}

input {
  font: inherit;
  color: inherit;
  border: none;
}

button {
  font: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}
