.player {
  width: 100%;

  border-radius: 4px;
}

.ownName {
  color: #aac;
}

.otherName {
  color: #cc9;
}

.activePlayer {
  background-color: #606055;
}

.inactivePlayer {
  background-color: #555;
}

.name {
  margin: 8px;
  margin-bottom: 0;

  text-align: center;
  font-size: 24px;
}

.abbr {
  margin-top: 0;

  text-align: center;
  font-size: 12px;
}
