.province {
  height: 100%;
  
  border-radius: 4px;
}

.inactiveProvince {
  background-color: #666;
}

.activeProvince {
  background-color: #707066;
}

.provinceName {
  margin: 8px;
  text-align: center;
  font-size: 32px;
  color: #aac;
}
