.prov {
  height: 100%;

  border-radius: 4px;
}

.inactiveProv {
  background-color: #666;
}

.activeProv {
  background-color: #707066;
}

.provName {
  margin: 8px;
  text-align: center;
  font-size: 32px;
  color: #aac;
}
