.categoryWrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
}

.polsOuter {
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.polsInner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 8px;
  right: 8px;

  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  padding: 0;

  border-radius: 4px;
}

.categoryName {
  flex-grow: 0;
  margin: 0 8px 2px 8px;
}

.emptyMsg {
  width: 100%;
  text-align: center;
}
