#playersWrapper {
  flex-basis: 0;
  flex-grow: 2;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
}

.partyOuter {
  margin-bottom: 16px;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 8px;

  border-radius: 6px;
  background-color: #555;
}

.partyInfo {
  flex-grow: 1;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.partyName {
  min-width: 0;
  margin-bottom: 4px;

  font-size: 24px;
  font-weight: 600;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.abbrAndVotes {
  flex-grow: 1;
  max-width: 225px;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.partyAbbr {
  font-size: 16px;
}

.votes {
  color: #ccc;
}

.funds {
  flex-grow: 0;
  margin-left: 8px;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  white-space: nowrap;
}

.paymentOuter {
  flex-grow: 0;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.spaced {
  margin-right: 4px;
}

.digitWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  font-weight: 700;
}

.incrementBtn {
  width: 16px;
  height: 16px;
  margin: -2px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
}

.inactiveBtn {
  background-color: transparent;
  cursor: not-allowed;
}

.inactiveBtn:hover {
  color: inherit;
  background-color: inherit;
}

.inactiveBtn:active {
  color: inherit;
}

.ownParty {
  color: #aaf;
}

.suspender {
  color: #f77;
}

.priority {
  color: #7c7;
}

.ready {
  padding: 4px;

  border: 4px solid #557;
}
