#playersWrapper {
  flex-basis: 0;
  flex-grow: 2;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
}

.playerOuter {
  margin-bottom: 16px;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 8px;

  border-radius: 6px;
  background-color: #555;
}

.nameAndAbbr {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}

.controlsAndInfo {
  flex-grow: 0;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.name {
  margin-bottom: 4px;

  font-size: 24px;
  font-weight: 600;
}

.abbr {
  font-size: 16px;
}

.ownParty {
  color: #aaf;
}

.priority {
  color: #7c7;
}

.ready {
  padding: 4px;

  border: 4px solid #557;
}
