#chatContainer {
  flex-basis: 0;
  flex-grow: 1;

  display: flex;
  flex-flow: column;

  cursor: auto;
}

#messagesOuter {
  position: relative;
  width: 100%;
  margin-bottom: 8px;
  flex-grow: 1;

  background-color: #333;
  border-radius: 6px;
}

#messagesInner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow-y: scroll;

  border: 8px solid transparent;
}

#bottomMessage {
  float: left;
  clear: both;
}

#inputRow {
  height: 32px;
  flex-grow: 0;

  display: flex;
  flex-flow: row;

  background-color: inherit;
}

#inputBox {
  flex-grow: 1;
  margin-right: 8px;

  padding: 0 8px;

  background-color: #333;
  border-radius: 6px;
}

#inputText::-webkit-input-placeholder {
  color: #999;
}
#inputText::-moz-placeholder {
  color: #999;
}

#sendBtn {
  flex-grow: 0;

  padding: 0 8px;

  color: #7c7;
  background-color: #333;
}

#sendBtn:hover {
  background-color: #222;
}

#sendBtn:active {
  color: #99d;
}

.sender {
  color: #7c7;
}

.selfSender {
  color: #aaf;
}

.systemMsg {
  color: #999;
}
