.categoryWrapper {
  flex-shrink: 1;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 16px;

  border-radius: 6px;
}

.polsOuter {
  flex: 1;

  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  overflow-y: visible;
}

@media only screen and
    (min-device-width: 500px) and
    (max-device-width: 800px) {
  .polsOuter {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media only screen and (max-device-width: 500px) {
  .categoryWrapper {
    padding: 12px;
    padding-top: 16px;
  }

  .polsOuter {
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}