.polWrapper {
  max-width: 200px;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
}

.cardOuter {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: default;
  background-size: 110%;
  background-position: center;
  border-radius: 4px;
  border: 8px solid #333;
  transition: all 0.3s ease-in-out;
}

.cardOuter:hover {
  background-size: 100%;
  transition: all 0.3s ease-in-out;
}

.darkenOnHover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  transition: all 0.15s ease-in-out;
}

.cardOuter:hover > .darkenOnHover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.15s ease-in-out;
}

.spacer {
  padding-top: 100%;
}

.bubble {
  position: absolute;
  top: -24px;
  right: -24px;
  height: 32px;
  width: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
  font-size: 24px;
  font-weight: 800;
  user-select: none;
  color: #ccc;
  background-color: #555;
  border-radius: 24px;
  border: 4px solid #c77;
}

.negativeSupport {
  color: #c77;
}

.name {
  position: absolute;
  bottom: 4px;

  white-space: nowrap;
  text-align: center;
  padding: 0 4px;

  z-index: 1;
  font-weight: 600;
  background-color: rgba(68, 68, 68, 0.9);
  border-radius: 4px;
}

.partyAbbr {
  position: absolute;
  top: 4px;
  left: 4px;

  padding: 0 4px;

  z-index: 1;
  font-weight: 600;
  background-color: rgba(68, 68, 68, 0.9);
  border-radius: 4px;
}

.ownPol {
  color: #aaf;
}

.bribed {
  color: #7c7;
}

.sympathetic {
  color: #f77;
}

.btnRow {
  margin-top: 8px;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 8px;
}
