.outerWrapper {
  margin-top: 16px;

  display: flex;
  flex-flow: column;
  align-items: stretch;

  border-radius: 6px;
  background-color: #555;
}

.helpText {
  font-size: 20px;
}

.buttonsRow {
  flex: 0;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.bigButton {
  margin: 16px;
  min-width: 100px;

  font-size: 20px;
}
